.category{
    display: flex;
    justify-content: space-around;
}

.category_options{
    height: 75vh;
    min-width: fit-content;
    border-radius: 15px;
    padding-top: 2%;
    flex: 1;
    height: fit-content;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: white;
}

.right_pannel{
    width: 80%;
    flex: 2;
    border-radius: 20px;
    padding: 0% 2% 2% 2%;
}

.category_body{
    background-color: white;
}

.category_body_header{
    background-color: white;
    margin-top  : 10px;
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid #9db2d7;
}

.category_body_options{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.body_options{
    border-left: 1px solid blue;
    padding: 5px;
}

.left_pannel_category{
    display: flex;
    justify-content: space-around;
    border-bottom : 1px solid #1d3e52;
}

.category_display{
    height: 70vh;
}

.category_name{
    margin-top: 10%;
    color:#5ac2ff;
}

.category_display_data{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category_display_data div{
    padding: 5%;
    margin: 1%;
    
    border-radius: 15px;
    text-align: center;
}

.category_sucess{
    background-color: #ccebfc;
}

.category_danger{
    background-color: #023e8a;
    color: white;
}

.category_display_data div div{
    margin-top: 10px;
    
}
