body{
  background-color: #f2f2f2;
}

.header{
  position: sticky;
}

.panel{
  margin-bottom: 2%;
  border: 3px black solid;
  border-radius: 5px;
}
@media screen and (max-width:875px){
  .panel{
    height: auto;
  }
}
