.summary{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    flex: 1;
}

.summary_user{
    flex: 0.25;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary_transactions{
    flex: 0.66;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}
.summary_current_status{
    padding: 2% 4% 2% 4%;
    border-radius: 12px;
}
.summary_current_status_categories{
    display: flex;
    justify-content: space-evenly;
}

.summary_item{
    background-color: white;
}

.red{
    color: red;
}

.green{
    color: green;
}