.modal{
    opacity: 0;
    z-index: -1;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.modal_content{
    margin-top: auto;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    
}

.summary{
    display: flex;
    height: 100vh;
    justify-content: space-around;
    flex: 1;
}

.summary_user{
    flex: 0.25;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary_transactions{
    flex: 0.66;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.summary_transactions_actions{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
.summary_current_status{
    padding: 2% 4% 2% 4%;
    border-radius: 12px;
}
.summary_current_status_categories{
    display: flex;
    justify-content: space-evenly;
}

.summary_item{
    background-color: white;
}

.expenses{
    display: flex;
}

.item{
    background-color: red;
    margin: 10px;
    border-radius: 15px;
}

.action{
    cursor: default;
}

.red{
    color: red;
}

.green{
    color: green;
}