.modal{
    opacity: 0;
    z-index: -1;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.modal_content{
    margin-top: auto;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
    
}

.summary{
    display: flex;
    height: 80vh;
    justify-content: space-around;
    flex: 1;
}

.summary_user{
    flex: 0.25;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 25px;
    align-items: center;
}
.summary_user_header{
    height: 25%;
    text-align: center;
    margin-top: 5%;
}
.summary_user_budget{
    height: 33%;
    display: flex;
    justify-content: space-around;
}
.summary_user_footer_item{
    height: 50%;
    text-align: center;
    padding: 3%;
    margin: 3%;
}
.summary_user_footer_item:hover{
    background-color: #01a3ff;
    color: white;
}
.summary_transactions{
    flex: 0.66;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.summary_transactions_actions{
    display: flex;
    justify-content: space-around;
    margin: 25px;
}
.summary_current_status{
    padding: 2% 4% 2% 4%;
    border-radius: 12px;
}
.summary_current_status_categories{
    display: flex;
    justify-content: space-evenly;
}

.summary_item{
    background-color: white;
}

.summary_transactions_expenses{
    padding: 15px;
    border-radius: 15px;
}

.summary_transactions_expenses table{
    border-collapse: collapse;
    width: 100%;
}

table td{
    border-top: 1px solid #7070b3;
    padding: 8px;
    height: 20px;
}
table tr:hover{
    background-color: #f5f5f5;
}

.expenses{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.item{
    margin: 10px;
    border-radius: 15px;
}

.item_header{
    margin-bottom: 10px;
}

.action{
    cursor: default;
}

.red{
    color: red;
}

.green{
    color: green;
}