.report{
    height: 100vh;
}

.report_type{
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 25px;
}

.report_header{
    display:flex;
    justify-content: space-around;
    margin-bottom: 4%;
}
.modal{
    display: none;
}

.report_body{
    width: 100%;
   background-color: #f9fafc; 
   border-collapse: collapse;
}

.report_body td{
    border-top: 1px solid #7070b3;
}

.option{
    flex: 0.25;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
}

.option_button{
    color: #5ac2ff;
    background-color: #ccebfc;
    padding: 4px;
    border-radius: 10px;
}
