{% extends "base.html"%}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}
{% block body%}
<div class="report">
    <div class="report_type">
        <div class="report_header">
            <div class="option">
                <h2>Income</h2>
                <h6><span class="option_button">Add Income</span></h6>
            </div>
            <div>
                <h6>Most frequent income</h6>
                {{most_frequent_income.description}}| $ {{most_frequent_income.amount}}
            </div>
            <div>
                <h6>least frequent income</h6>
                {{least_frequent_income.description}}| $ {{least_frequent_income.amount}}
            </div>
            <div>
                <h6>Total Income 30 days</h6>
                $ {{total_income}}
            </div>
        </div>
        <div class="modal" id="modal-income">
            <div class="modal_content">
                <div class="close_modal" modal="income">
                    X
                </div>
                <form action="">

                </form>
            </div>
        </div>
        <div>
            <table class="report_body">
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                {% for entry in  income %}
                <tr>
                    <td >{{entry.description}}</td>
                    <td style="text-align: center;">{{entry.date}}</td>
                    <td style="text-align: center;">{{entry.amount}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="report_type">
        <div class="report_header">
            <div class="option">
                <h4>Expenses
                <span class="option_button">Add Expense</span>
                </h4>
            </div>
            <div>
                <h6>Most Frequent Expense</h6>
                {{most_frequent.description}}
                {{most_frequent.count}}
            </div>
            <div>
                <h6>Most Expensive Expense</h6>
                {{biggest_entry.description}}
                ${{biggest_entry.price}}
            </div>
            <div>
                <h6>Smallest Expense</h6>
                {{smallest_entry.description}}
                ${{smallest_entry.price}}
            </div>
            <div>
                <h6>Toal Expense 30 Days</h6>
                ${{ total_sum_entries}}
            </div>
        </div>
        <div class="modal" id="modal-entry">
            <div class="modal_content">
                <div class="close_modal" modal="entry">
                    X
                </div>
                <form action="">

                </form>
            </div>
        </div>
        <div>
            <table class="report_body">
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                {% for entry in  expense %}
                <tr>
                    <td>{{entry.category}}</td>
                    <td style="text-align: center;">{{entry.description}}</td>
                    <td style="text-align: center;" >{{entry.price}}</td>
                    <td style="text-align: center;">{{entry.date}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}