{% extends "base.html"%}
{% load static %}
{% block  body %}
<link rel="stylesheet" href="{% static 'css/homePage.css' %}">
<!-- Modal Object -->
<!-- <div class="card element"> -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2>Currents Budget</h2>
              </div>
              <div class="card-body">
                {% if balance > 0 %}
                <h4 class="green">$ {{balance}}</h4>
                {% elif balance == 0  %}
                <h4>$ {{balance}}</h4>
                {% else %}
                <h4 class="red">$ {{balance}}</h4>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2>Income</h2>
              </div>
              <div class="card-body">{{income}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2>Add Entry</h2>
          </div>
          <div class="card-body">
            <form action="{% url 'expenses:add'%}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                {{form.category.label_tag}}
                {{form.category}}
              </div>
              <div class="form-group">
                {{form.description.label_tag}}
                <input class="form-control" type="text" name="description" id={{form.description.id_for_label}}>
              </div>
              <div class="form-group">
                {{form.price.label_tag}}
                <input class="form-control" type="text" name="description" id={{form.price.id_for_label}}>
              </div>
              <input class="btn btn-primary" type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2>Add Income</h2>
          </div>
          <div class="card-body">
            <form action="{% url 'expenses:add_income'%}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_description">Income Name</label>
                <input class="form-control" type="text" name="description" id="id_description">
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="id_amount">Amount</label>
                    <input class="form-control" min="0" type="number" step="0.01" name="amount" id="id_amount">
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="id_circle_repetition">Circle Repetition</label>
                  <input class="form-control" min="0" type="number" name="circle_repetition" id="id_circle_repetition">
                </div>
                <div class="col-md-3">
                  <label for="id_repition">Repetition</label>
                  <input class="form-control" type="radio" name="repition" id="id_repition">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                </div>
              </div>
              <input class="btn btn-primary" type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" col">
      <div class="panel table-responsive">
        <h3>Entries</h3>
        <table class="table">
          <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          {% for expense in expenses %}
          <tr data-expense-id="{{expense.id}}" data-category-id="{{expense.category.id}}">
            <td>{{expense.category}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.price}}</td>
            <td>{{expense.date}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

  </div>
</div>
<div class="header">
  <span class="btn btn-primary"><a style="color:white;" href="{% url 'expenses:category' %}">Add Category</a></span>
  <span class="btn btn-success"><a style="color:white;" href="{% url 'expenses:add' %}">Add Entry</a></span>
</div>
<script src="{% static 'javascript/message.js' %}" type="module"></script>
{% endblock %}