{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Personal Expenses</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css\base.css' %}">
  {% block header %}
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="height: 100%;">
  {% if user.is_authenticated %}
  <div class="new">
    <div class="left">
      <div class="left_symbol">
        H
      </div>
      <div class="left_option">
        <div class="left_option_item">
          <a href="{% url 'expenses:report' %}">Summary</a>
        </div>
        <div class="left_option_item">
          <a href="{% url 'expenses:person_expenses' %}">Entry</a>
        </div>
        <div class="left_option_item">
          <a href="{% url 'expenses:category' %}">Categories</a>
        </div>
      </div>
      <div class="left_logout">
        <a href="{% url 'accounts:log_out' %}">
          Log Out
        </a>
      </div>
    </div>
    <div class="content" style="background-color: #f5f6fa;">
      {% endif %}
      {% block body %}
      {% endblock %}
    </div>
  </div>
</body>

</html>