<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Person Expenses</title>
  </head>
  <body>
    <h3>This is a really simple web application at the moment</h3>
    <p>But with hard work and time it can get me a nice job </p>
    <p>if I applie myself and also if I make it look nice</p>

    <h3>Things to do </h3>
    <ul>
      <li>It is required to add some script that will allow me to create dummy data</li>
      <li>For now the user and the categories are all mixed, but in the future it will be just the user</li>
      <li>At this moment both models have the same get absolute url, change that it is ugly code (I think)</li>
      <li>Be able to use the class base views to create users</li>
      <li>Authentication and authorization</li>
      <li>Add React. To be more specific the victory library</li>
    </ul>
  </body>
</html>
